@import url('https://fonts.googleapis.com/css?family=Sofia');

.homepage, .profile-contact{
  display: flex;
  text-align: center;
  justify-content: center;
}

.homepage {
  color: lightgray;
  padding: 5%;
  justify-content: space-evenly;
} 

.homepage .name img {
  width: 100%;
}

.homepage .picture img {
  width: 60%;
  border-radius: 20% 20% 50% 50%;
}

.homepage .picture {
  width: 30%;
}

.homepage .name {
  width: 60%;
}

.profile-contact {
  flex-direction: column;
}

.profile-contact a {
  margin: 0 2%;
  color: lightgray;
}

.profile-contact .bi {
  font-size: 30px;
}

.profile-contact .bi:hover{
  cursor: pointer;
}

/* Navbar */
.navbar-list {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list img {
  height: 20px;
  object-fit:cover;
}

.navbar-list h5 {
  font-family: Sofia;
  height: 20px;
  color: cadetblue;
}

