@import url('https://fonts.googleapis.com/css?family=Sofia');

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* margin-top: 180px; */
    /* padding: 0 15%; */
    color: whitesmoke;
} 

.title h6{
    font-size: 70px;
    color: grey;
    font-family: 'Sofia';
}

.navbar-list {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list img {
    height: 20px;
    object-fit:cover;
}

.homepage .profile-contact{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 8%;
}

.profile-contact a {
    font-size: 2rem;
    color: whitesmoke;
    margin: 0 2%;
}

.profile-contact .bi:hover{
    font-size: 2rem;
    color: grey;
    cursor: pointer;
}

.homepage h5 {
    color: grey;
}

.custom-carousel {
    width: 80%;
    height: 300px;
}

.carousel-container {
    display: flex;
    justify-content: center;
}
