@import url('https://fonts.googleapis.com/css?family=Sofia');

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5%;
    /* padding: 0 15%; */
    color: whitesmoke;
} 

.homepage .profile-contact{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 3%;
}

.profile-contact a {
    /* font-size: 30px; */
    color: whitesmoke;
    margin: 0 2%;
}

.profile-contact .bi {
    font-size: 30px;
}

.profile-contact .bi:hover{
    /* font-size: 30px; */
    color: grey;
    cursor: pointer;
}

.homepage h5 {
    color: grey;
}

.custom-carousel {
    width: 80%;
    /* height: 300px; */
}

.carousel-container {
    display: flex;
    justify-content: center;
}

/* Navbar */
.navbar-list {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-list img {
    height: 20px;
    object-fit:cover;
}

.navbar-list h5 {
    font-family: Sofia;
    height: 20px;
    color: cadetblue;
}

