.about-container {
    display: flex;
    justify-content: center;
    padding: 10% 10%;
}

.skills-box Button {
    border-radius: 20px;
}

.profile-image {
    margin-right: 5%;
    display: flex;
    justify-content: center;
    height: 50%;
}

.profile-image h5 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
}

.right-box {
    width: 80%;
}

h4 {
    font-weight: bolder;
    text-decoration: underline dotted grey;
}

@media screen and (max-width: 768px) {
    .about-container {
        display: flex;
        flex-direction: column;
    }
}