.about-container {
    display: flex;
    justify-content: center;
    padding: 10% 15%;
    color: grey;
}

.skills-box Button{
    border-radius: 20px;
}

.profile-image{
    width: 20%;
}

.profile-image img{
    width: 200px;
    border-radius: 50%;
}

.first-box {
    margin-right: 5%;
}