.project-page {
    display: flex;
    flex-direction: column;
    padding: 50px;
    /* font-size: 20px; */
}

.app-container {
    display: flex;
    margin: 5%;
}

.app-description {
    width: 70%;
    margin-right: 5%;
}

.tech-stack {
    width: 30%;
}

.video-container {
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

.video-container img{
    width: 100%;
}

.tech-stack img {
    width: 15%;
}

@media screen and (max-width: 768px) {
    .app-container {
        display: flex;
        flex-direction: column;
    }
    .app-description {
        width: 100%;
    }
    .tech-stack {
        width: 100%;
    }
}