.resume-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 5% 20%;
    /* color: grey; */
}

.card-container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
}